[submodule "aux/data_science"]
	path = aux/data_science
	url = git@github.com:glandfried/biblio.git
[submodule "aux/biblio"]
	path = aux/biblio
	url = git@github.com:glandfried/biblio.git
[submodule "git/gitaction"]
	path = aux/git
	url = git@github.com:glandfried/gitaction.git
[submodule "teach/course/taller-algebra1"]
	path = teach/course/taller-algebra1
	url = git@git.exactas.uba.ar:materias/taller-algebra1.git
[submodule "research/cultural-centrality"]
	path = research/cultural-centrality
	url = git@github.com:glandfried/cultural-centrality.git
[submodule "research/bayesianIRT"]
	path = research/bayesianIRT
	url = git@github.com:glandfried/bayesianIRT.git
#[submodule "teach/course/exactasPrograma"]
#	path = teach/course/exactasPrograma
#	url = git@git.exactas.uba.ar:materias/exactasPrograma.git
[submodule "teach/course/algoritmos1"]
	path = teach/course/algoritmos1
	url = git@git.exactas.uba.ar:materias/algo1.git
[submodule "web/licar"]
	path = web/licar
	url = git@gitlab.licar.exp.dc.uba.ar:licar/webpage.git
[submodule "expo/tacc2019"]
	path = expo/tacc2019
	url = git@github.com:glandfried/tacc2019.git
[submodule "learn/julia-performance"]
	path = learn/workshop/julia-performance
	url = git@github.com:glandfried/julia-performance.git
[submodule "teach/bayes/seminario-exactas"]
	path = teach/bayes/seminario-exactas
	url = git@git.exactas.uba.ar:bayes/seminario.git
[submodule "teach/thesis/patricioromanik"]
	path = teach/tutor/patricioromanik
	url = git@gitlab.com:antropocaos/patricioromanik.git
[submodule "teach/thesis/agustinFernandez"]
	path = teach/tutor/agustinfernandez/tesis
	url = git@gitlab.com:antropocaos/agustinFernandez.git
[submodule "learn/esrl-2019"]
	path = learn/workshop/esrl-2019
	url = https://github.com/glandfried/resources-2019
[submodule "membership/caos/antropocaos"]
	path = membership/caos/antropocaos
	url = git@gitlab.com:antropocaos/antropocaos.git
[submodule "membership/argonautas"]
	path = membership/caos/argonautas/
	url = git@gitlab.com:argonautasdelcaos/argonautasdelcaos.git
[submodule "membership/patria/mueve-bot"]
	path = membership/patria/mueve-bot
	url = git@gitlab.e-va.red:haciendopatria/convencer-bot.git
[submodule "learn/machineLearning/AA_TP1"]
	path = learn/course/machineLearning/tp1
	url = https://github.com/spinto88/AA_TP1.git
[submodule "learn/machineLearning/tp2"]
	path = learn/course/machineLearning/tp2
	url = https://github.com/spinto88/ML_TP2.git
[submodule "bureaucracy/documents"]
	path = bureaucracy/documents
	url = git@gitlab.com:glandfried/documents.git
[submodule "software/alerta-dengue-bot"]
	path = software/alerta-dengue-bot
	url = git@github.com:glandfried/alerta-dengue-bot.git 
[submodule "membership/caos/argonautas"]
	path = membership/caos/argonautas
	url = git@gitlab.com:argonautasdelcaos/argonautasdelcaos.git
[submodule "aux/linux"]
	path = aux/linux
	url = git@github.com:glandfried/linux.git
[submodule "fork/online-go.com"]
	path = fork/online-go.com
	url = git@github.com:glandfried/online-go.com.git
[submodule "research/synergy"]
	path = research/synergy
	url = git@github.com:glandfried/synergy.git
[submodule "teach/bayes/bayesian-inference"]
	path = teach/bayes/bayesian-inference
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/seminario.git
[submodule "image/images"]
	path = visual/images
	url = git@github.com:glandfried/images.git
[submodule "dataset/moves-ogs-dataset"]
	path = dataset/go/moves-ogs-dataset/
	url = git@github.com:glandfried/moves-ogs-dataset.git
[submodule "dataset/output-ogs-dataset"]
	path = dataset/go/output-ogs-dataset
	url = git@github.com:glandfried/output-ogs-dataset.git
[submodule "learn/straw/ergodicity"]
	path = learn/topic/ergodicity
	url = git@github.com:glandfried/ergodicity.git
[submodule "dataset/go/moves-ogs-dataset"]
	path = dataset/go/moves-ogs-dataset
	url = git@github.com:glandfried/moves-ogs-dataset.git
[submodule "aux/license"]
	path = aux/license
	url = git@github.com:glandfried/license.git
[submodule "software/tennis"]
	path = software/tennis
	url = git@github.com:glandfried/tennis.git
[submodule "expo/liaa2018"]
	path = expo/liaa2018
	url = git@github.com:glandfried/liaa2018.git
[submodule "aux/tex"]
	path = aux/tex
	url = git@github.com:glandfried/tex.git
[submodule "expo/mlss2018"]
	path = expo/mlss2018
	url = git@github.com:glandfried/mlss2018.git
[submodule "expo/esrl2019"]
	path = expo/esrl2019
	url = git@github.com:glandfried/esrl2019.git
[submodule "learn/topic/haaland2020-generalistsVsSpecialist"]
	path = learn/topic/haaland2020-generalistsVsSpecialist
	url = https://github.com/glandfried/haaland2020-generalistsVsSpecialist
[submodule "web/own"]
	path = web/own
	url = git@gitlab.com:glandfried/web.git
[submodule "web/github.io"]
	path = web/github.io
	url = git@github.com:glandfried/glandfried.github.io.git
[submodule "teach/tutor/gustavocairo"]
	path = teach/tutor/gustavocairo
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/go.git
[submodule "membership/licar/gaming/handicap"]
	path = research/handicap
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/handicap.git
[submodule "software/bayesian-linear-regression"]
	path = software/bayesian-linear-regression
	url = git@github.com:glandfried/bayesian-linear-regression.git
[submodule "software/analytic-bayesian-linear-regression"]
	path = software/analytic-bayesian-linear-regression
	url = git@github.com:glandfried/analytic-bayesian-linear-regression.git
[submodule "learn/topic/prospect-theory"]
	path = learn/topic/prospect-theory
	url = git@github.com:glandfried/prospect-theory.git
[submodule "membership/licar/gaming/gaming"]
	path = membership/licar/gaming/gaming
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/gaming.git
[submodule "learn/topic/inequality"]
	path = learn/topic/inequality
	url = git@github.com:glandfried/inequality.git
[submodule "membership/patria/comunidades/alerta-dengue-bot"]
	path = membership/patria/comunidades/alerta-dengue-bot
	url = git@gitlab.e-va.red:met-comunitarias/alerta-dengue-bot.git
[submodule "membership/patria/comunidades/aedes-aegypti"]
	path = membership/patria/comunidades/aedes-aegypti
	url = git@github.com:glandfried/aedes-aegypti.git
[submodule "expo/caas2020"]
	path = expo/caas2020
	url = git@github.com:glandfried/caas2020.git
[submodule "learn/topic/probability_weighting"]
	path = learn/topic/probability_weighting
	url = git@github.com:glandfried/probability_weighting.git
[submodule "aux/preregistrations"]
	path = aux/preregistrations
	url = git@github.com:glandfried/preregistrations.git
[submodule "fork/ChessAnalysis"]
	path = fork/ChessAnalysis
	url = git@github.com:lucasmaystre/ChessAnalysis.git
[submodule "research/true-irt"]
	path = research/true-irt
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/true-irt.git
[submodule "software/hospitales-bot"]
	path = software/hospitales-bot
	url = git@gitlab.com:glandfried/hospitales-bot.git
[submodule "software/non-ergodic"]
	path = software/non-ergodic
	url = git@github.com:glandfried/non-ergodic.git
[submodule "membership/licar/gaming/trueskill"]
	path = membership/licar/gaming/trueskill
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/trueskill.git
[submodule "fork/covid19model"]
	path = fork/covid19model
	url = git@github.com:glandfried/covid19model.git
[submodule "post/non-ergodic-evidence"]
	path = post/non-ergodic-evidence
	url = git@github.com:glandfried/non-ergodic-evidence.git
[submodule "learn/course/tomaDeDecisiones"]
	path = learn/course/tomaDeDecisiones
	url = git@github.com:glandfried/tomaDeDecisiones.git
[submodule "learn/topic/covid"]
	path = learn/topic/covid
	url = git@github.com:gefero/unsam_covid_espacial.git
[submodule "dataset/go/aago"]
	path = dataset/go/aago
	url = git@github.com:glandfried/aago.git
[submodule "bureaucracy/applications/cic"]
	path = bureaucracy/cic
	url = git@github.com:glandfried/cic.git
[submodule "dataset/teg"]
	path = dataset/teg
	url = git@github.com:glandfried/teg.git
[submodule "dataset/go/centrality-ogs-dataset"]
	path = dataset/go/centrality-ogs-dataset
	url = git@github.com:glandfried/centrality-ogs-dataset.git
[submodule "research/evidence"]
	path = research/evidence
	url = git@github.com:glandfried/evidence.git
[submodule "software/variational-logisitic-regression"]
	path = software/variational-logisitic-regression
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/variational-logisitic-regression.git
[submodule "expo/liaa2020"]
	path = expo/liaa2020
	url = git@github.com:glandfried/liaa2020.git
[submodule "fork/ergodicity-breaking"]
	path = fork/ergodicity-breaking
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/ergodicity-breaking-choice-experiment.git
[submodule "bureaucracy/application"]
	path = bureaucracy/application
	url = git@github.com:glandfried/application.git
[submodule "learn/topic/ergodicity-breaking-replication"]
	path = learn/topic/ergodicity-breaking-replication
	url = git@github.com:glandfried/ergodicity-breaking-replication.git
[submodule "teach/bayes/gelman"]
	path = teach/bayes/gelman
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/BDA_ejercicios.git
[submodule "teach/tutor/agustinfernandez/Exactasprogram"]
	path = teach/tutor/agustinfernandez/Exactasprogram
	url = git@github.com:agustinfernandez/Exactasprogram.git
[submodule "fork/bayesian-linear-model"]
	path = fork/bayesian-linear-model
	url = git@github.com:glandfried/bayesian-linear-model.git
[submodule "expo/liaa2019"]
	path = expo/liaa2019
	url = git@github.com:glandfried/liaa2019.git
[submodule "bureaucracy/agenda"]
	path = bureaucracy/agenda
	url = git@github.com:glandfried/agenda.git
[submodule "post/HBEC-vacancy"]
	path = post/HBEC-vacancy
	url = git@github.com:glandfried/HBEC-vacancy.git
[submodule "expo/hbec2020"]
	path = expo/hbec2020
	url = git@github.com:glandfried/hbec2020.git
[submodule "software/cross-cultural-bot"]
	path = software/cross-cultural-bot
	url = git@github.com:glandfried/cross-cultural-bot.git
[submodule "post/domestic-politics"]
	path = post/domestic-politics
	url = git@github.com:glandfried/domestic-politics.git
[submodule "fork/biomass_distribution"]
	path = fork/biomass_distribution
	url = git@github.com:glandfried/biomass_distribution.git
[submodule "research/polycentric"]
	path = research/polycentric
	url = git@github.com:glandfried/polycentric.git
[submodule "expo/caba2020"]
	path = expo/caba2020
	url = git@github.com:glandfried/caba2020.git
[submodule "bureaucracy/contest"]
	path = bureaucracy/contest
	url = git@github.com:glandfried/contest.git
[submodule "research/genero"]
	path = research/genero
	url = git@github.com:glandfried/genero.git
[submodule "membership/bayes/estadistica_repensada"]
	path = membership/bayes/estadistica_repensada
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/estadistica_repensada.git
[submodule "membership/licar/licar"]
	path = membership/licar/licar
	url = git@gitlab.licar.exp.dc.uba.ar:licar/licar.git
[submodule "visual/videos"]
	path = visual/videos
	url = git@github.com:glandfried/videos.git
[submodule "teach/tutor/pasantiaCarreira"]
	path = teach/tutor/pasantiaCarreira
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/pasantiaCarreira.git
[submodule "teach/tutor/pasantiaAmigo"]
	path = teach/tutor/pasantiaAmigo
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/pasantiaAmigo.git
[submodule "membership/bayes/curso"]
	path = membership/bayes/curso
	url = git@github.com:BayesDeLasProvinciasUnidasDelSur/curso.git
[submodule "fork/tennis_atp"]
	path = fork/tennis_atp
	url = git@github.com:glandfried/tennis_atp.git
[submodule "research/thesis"]
	path = research/thesis
	url = git@github.com:glandfried/thesis.git
[submodule "dataset/mapaEtnografico"]
	path = dataset/mapaEtnografico
	url = git@github.com:glandfried/mapaEtnografico.git
[submodule "research/TrueSkillThroughTime"]
	path = research/TrueSkillThroughTime
	url = git@github.com:glandfried/TrueSkillThroughTime.git
[submodule "software/TrueSkillThroughTime.jl"]
	path = software/TrueSkillThroughTime.jl
	url = git@github.com:glandfried/TrueSkillThroughTime.jl.git
[submodule "software/TrueSkillThroughTime.py"]
	path = software/TrueSkillThroughTime.py
	url = git@github.com:glandfried/TrueSkillThroughTime.py.git
[submodule "software/TrueSkillThroughTime.R"]
	path = software/TrueSkillThroughTime.R
	url = git@github.com:glandfried/TrueSkillThroughTime.R.git
